
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastro para Jounnin's</h1>

<div class="form-horizontal">
    <form method="post">

        <div class="form-group">
            <label class="control-label col-md-2">Nome do Jounnin</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Nome" id="Nome" required />
                <span class="text-danger" id="erroNome" name="erroNome"></span>
            </div>
        </div>

        @{
            string[] cla = Enum.GetNames(typeof(DTO.Enum.Cla));
            string[] vila = Enum.GetNames(typeof(DTO.Enum.Vilas));
        }

        <div class="form-group">
            <label class="control-label col-md-2">Clã do Jounnin</label>
            <div class="col-md-10">
                <select class="form-control" name="Cla" id="Cla">
                    @for (int i = 0; i < cla.Length; i++)
                    {
                        <option value="@i">@cla[i]</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Vila do Jounnin</label>
            <div class="col-md-10">
                <select class="form-control" name="Vila" id="Vila">
                    @for (int i = 0; i < vila.Length; i++)
                    {
                        <option value="@i">@vila[i]</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Equipe do Jounnin</label>
            <div class="col-md-10">
                <select class="form-control" name="EquipeID" id="EquipeID">
                </select>
            </div>
        </div>

        @if (ViewBag.ErroGenerico != null)
        {
            <div class="form-group">
                <div class="col-md-10">
                    <span class="text-warning">@ViewBag.ErroGenerico</span>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-10">
                <button class="newbutton green" name="BotaoEnviar" id="BotaoEnviar" type="submit">Cadastrar Jounnin</button>
            </div>
        </div>

    </form>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#BotaoEnviar").click(function (e) {

                var nome = $("#Nome").val();
                var equipe = $("#Equipe").val();

                var sucesso = true;

                if (nome == "") {
                    $("#erroNome").html("Nome deve ser informado.");
                    sucesso = false;
                }
                else if (nome.length < 5 || nome.length > 40) {
                    $("#erroNome").html("Nome deve conter entre 5 e 50 caracteres.");
                    sucesso = false;
                }
                else {
                    $("#erroNome").html("");
                }

                if (equipe == "") {
                    $("#erroEquipe").html("A equipe deve ser informado.");
                    sucesso = false;
                }
                else {
                    $("#erroEquipe").html("");
                }

                if (!sucesso) {
                    e.preventDefault();
                }

            });
        });
    </script>

}