
@{
    ViewData["Title"] = "Cadastrar";
}
    <font face="njnaruto">
        <h1>Cadastro para Jounnin's</h1>
    </font>
<div class="form-horizontal">
    <form method="post">
        <font face="njnaruto">
            <div class="form-group">
                <label class="control-label col-md-2">Nome do Jounnin</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="Nome" id="Nome" placeholder="5 a 50 caracteres" required />
                    <span class="text-danger" id="erroNome" name="erroNome"></span>
                </div>
            </div>

            @{
                string[] cla = Enum.GetNames(typeof(DTO.Enum.Cla));
                string[] vila = Enum.GetNames(typeof(DTO.Enum.Vilas));
            }

            <div class="form-group">
                <label class="control-label col-md-2">Cla do Jounnin</label>
                <div class="col-md-10">
                    <select class="form-control" name="Cla" id="Cla">
                        <option>Selecionar</option>
                        @for (int i = 0; i < cla.Length; i++)
                        {
                            <option style="background-image:url(Clas/Aburama.png)" value="@i">@cla[i]</option>
                        }
                    </select>
                    <img id="ImagemCla" alt="imgDoCla" src="/Clas/Aburame.png" style="height:50px; width:50px" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Vila do Jounnin</label>
                <div class="col-md-10">
                    <select class="form-control" name="Vila" id="Vila">
                        <option>Selecionar</option>
                        @for (int i = 0; i < vila.Length; i++)
                        {
                            <option value="@i">@vila[i]</option>
                        }
                    </select>
                </div>
            </div>

            @if (ViewBag.ErroGenerico != null)
            {
                <div class="form-group">
                    <div class="col-md-10">
                        <span class="text-warning">@ViewBag.ErroGenerico</span>
                    </div>
                </div>
            }

            <div class="form-group">
                <div class="col-md-10">
                    <button class="newbutton red" name="BotaoEnviar" id="BotaoEnviar" type="submit">Cadastrar Jounnin</button>
                </div>
            </div>
        </font>
    </form>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#Cla").change(function () {
                $("#ImagemCla").attr("src", "/Clas/"+ $("#Cla option:selected").text() + ".png");
            });

            $("#BotaoEnviar").click(function (e) {

                var nome = $("#Nome").val();

                var sucesso = true;

                if (nome == "") {
                    $("#erroNome").html("Nome deve ser informado.");
                    sucesso = false;
                }
                else if (nome.length < 5 || nome.length > 40) {
                    $("#erroNome").html("Nome deve conter entre 5 a 50 caracteres.");
                    sucesso = false;
                }
                else {
                    $("#erroNome").html("");
                }

                if (!sucesso) {
                    e.preventDefault();
                }
            });
        });
    </script>

}