
@{
    ViewData["Title"] = "Cadastrar";
}
    <font face="njnaruto">
        <h1>Cadastro da Equipe no Exame Chunnin</h1>
    </font>

<div class="form-horizonal">
    <form method="post">
        <font face="njnaruto">

            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" name="EquipeID1" id="EquipeID1">
                        @foreach (var item in ViewBag.Batalhas)
                        {
                            <option>Selecionar Primeira Equipe</option>
                            <option value="@item.ID">@item.Nome</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" name="EquipeID2" id="EquipeID2">
                        @foreach (var item in ViewBag.Batalhas)
                        {
                            <option>Selecionar Segunda Equipe</option>
                            <option value="@item.ID">@item.Nome</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" name="EquipeID3" id="EquipeID3">
                        @foreach (var item in ViewBag.Batalhas)
                        {
                            <option>Selecionar Terceira Equipe</option>
                            <option value="@item.ID">@item.Nome"</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" name="EquipeID4" id="EquipeID4">
                        @foreach (var item in ViewBag.Batalhas)
                        {
                            <option>Selecionar Quarta Equipe</option>
                            <option value="@item.ID">@item.Nome</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" name="EquipeID5" id="EquipeID5">
                        @foreach (var item in ViewBag.Batalhas)
                        {
                            <option>Selecionar Quinta Equipe</option>
                            <option value="@item.ID">@item.Nome</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" name="EquipeID6" id="EquipeID6">
                        @foreach (var item in ViewBag.Batalhas)
                        {
                            <option>Selecionar Sexta Equipe</option>
                            <option value="@item.ID">@item.Nome</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" name="EquipeID7" id="EquipeID7">
                        @foreach (var item in ViewBag.Batalhas)
                        {
                            <option>Selecionar Setima Equipe</option>
                            <option value="@item.ID">@item.Nome</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <select class="form-control" name="EquipeID8" id="EquipeID8">
                        @foreach (var item in ViewBag.Batalhas)
                        {
                            <option value="null">Selecionar Oitava Equipe</option>
                            <option value="@item.ID">@item.Nome</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <button class="newbutton red" type="submit">Comecar Exame</button>
                </div>
            </div>

        </font>
    </form>
</div>